
.navbar-minimal {
  text-align: center;
}

.dashboard {
  display: grid;
  grid-template-columns: 300px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: calc(100vh - 110px);
  margin-top: 20px;
}
 .dashboard .main {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  padding: 30px;
}
.dashboard .description {
  grid-row: 1 / span 1;
  grid-column: 2 / span 3;
}
.experiences {
  grid-row: 3 / span 1;
  grid-column: 1 / span 4;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
}
.experiences-title {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2px;
}
.experiences-title:hover {
  background: #9D9D9D;
  opacity: 0.7;
  font-weight: bolder;
  transition: all 0.6s ease;
  }
  .experiences-title:hover h3 {
    color: white;
  }
.experiences-flex {
  display: flex;
  justify-content: space-between;
}
.experiences h3 {
  text-align: center;
}
.experiences-disney {
  flex: 50% 0;
  padding-right: 100px;
  padding-left: 90px;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.experiences-disney p {
  text-align: left;
}
.experiences-edf {
  flex: 0 50%;
  padding-left: 100px;
  padding-right: 90px;
  padding-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.experiences-edf p {
  text-align: left;
}
.skills {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
}
.skills-flex {
display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 30px;
}
.skills-title {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2px;
  text-align: center;
}
.skills-title:hover {
  background: #9D9D9D;
  opacity: 0.7;
  font-weight: bolder;
  transition: all 0.6s ease;
  }
  .skills-title:hover h3 {
    color: white;
  }
.card-white {
  grid-row: 4 / span 1;
  grid-column: 1 / span 4;
  width: 200px;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  }
.card-white img {
  margin-bottom: 20px;
}
.loisirs {
  grid-row: 5 / span 1;
  grid-column: 1 / span 4;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
text-align: center;
}
.loisirs-title {
  grid-row: 5 / span 1;
  grid-column: 1 / span 4;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 2px;
  text-align: center;
}
.loisirs-title:hover {
  background: #9D9D9D;
  opacity: 0.7;
  font-weight: bolder;
  transition: all 0.6s ease;
  }
  .loisirs-title:hover h3 {
    color: white;
  }
.dashboard-card {
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .dashboard {
    display: block;
  }
}

/* Fonts and colors */
.dashboard h2 {
  font-size: 25px;
}
.dashboard h3 {
  color: #8AB9E3;
  font-size: 25px;
  margin-bottom: 15px;
}
.dashboard p {
  color: rgba(0,0,0,0.5);
  font-size: 16px;
}
.dashboard .main img {
  border-radius: 50%;
}
.dashboard .btn {
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 30px;
  background: #8AB9E3;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 20px;
}
.dashboard .btn:hover {
  background: #AAD3F2;
  opacity: 0.7;
  font-weight: bolder;
  transition: all 0.3s ease;
}
.main p {
  margin-bottom: 30px;
}


#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
  margin: 20px;
}
.main-container {
  display: flex;
}
.results-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card {
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin: 20px 0px;
  text-align: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 25px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  flex: 0 0 30%;
}
@media(max-width: 992px) {
  .card {
    flex: 0 0 45%;
  }
}
@media(max-width: 768px) {
  .card {
    flex: 0 0 90%;
  }
}

